#  \/\/\/ Put your link here, and change the file name from .env.example to .env \/\/\/
DATABASE_URL="postgresql://postgres.[ref]:[password]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"